<ion-header id="home" >
  <ion-navbar>
  <button ion-button menuToggle >
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Lista de tareas
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="ion_background_view" padding>
  <ion-item class="yellow_line">  
    <h1>Mis tareas</h1  >
    <span>A continuación se listan todas las</span>
    <br><span>tareas que aún no se han finalizado</span>
  </ion-item>

  <ion-item class=blue>
    <ion-grid>
      <ion-row>
          <ion-col col-3><h5>Tomar Tarea </h5></ion-col>
          <ion-col col-4><h5>&nbsp;&nbsp;&nbsp;&nbsp;Identificador</h5></ion-col>
          <ion-col col-5><h5>&nbsp;&nbsp;&nbsp;&nbsp;Materia</h5></ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>


  <ion-item>
    <ion-grid>
      <ion-row>
        <ion-col col-3>
            <ion-item *ngFor="let hero of heroes">
                <input type="checkbox">
            </ion-item>
          </ion-col>    
        <ion-col col-4>
            <ion-item *ngFor="let hero of heroes" (click)="task_page(hero.name)">
                <h3>{{hero.name}}</h3>
            </ion-item>
          </ion-col>
          <ion-col col-5>
              <ion-item *ngFor="let hero of heroes" >
                  <h3>{{hero.tipo_tramite}}</h3>
              </ion-item>
            </ion-col> 
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-content>
