.blue{
    background: #2A3F54;
    color: #fff;
}

.ion_background_view{
    background: #F7F7F7 ;
}

.bar_title{
    background: #000;
}

.yellow_line{
    border-bottom: 6px solid #ffce00;
}

.center{
    vertical-align: middle;
}